.rbc-allday-cell {
  display: none;
}

.rbc-time-content {
  border-top: 0;
}

.rbc-time-column .rbc-timeslot-group {
  height: 50px !important;
  flex: auto;
}

.rbc-day-slot .rbc-event-label {
  display: none;
}

.rbc-event,
.rbc-day-slot .rbc-background-event {
  padding: 0;
}

.rbc-day-slot .rbc-event,
.rbc-day-slot .rbc-background-event {
  border: 0;
}

.rbc-calendar {
  min-height: 580px;
}